<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <main>
        <nav>
            <li><a href="{% url 'signup'%}">Sign Up</a></li>
        </nav>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button>Login</button>
            </form>
        </div>
    </main>

</body>
</html>
