<!DOCTYPE html>
    <html>
        <head>
            <title>Test</title>
        </head>
        <body>
            <nav>
                <li>
                    <a href="{% url 'home'%}">Home</a>
                    <a href="{% url 'category_list'%}">Category List</a>
                    <a href="{% url 'account_list'%}">Account List</a>
                    <a href="{% url 'create_account'%}">New Account</a>
                    <a href="{% url 'create_category'%}">Create Category</a>
                    <a href="{% url 'create_receipt'%}">Create Receipt</a>
                    <a href="{% url 'logout'%}">Log Out</a>
                </li>
            </nav>
            <main>
                <h1>Category List</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of receipts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in category_list.all %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.receipts.all|length}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </body>
    </html>
