<!DOCTYPE html>
<html lang="en">
        <head>
            <title></title>
        </head>
    <body>
        <nav>
            <li>
                <a href="{% url 'home'%}">Home</a>
                <a href="{% url 'category_list'%}">Category List</a>
                <a href="{% url 'account_list'%}">Account List</a>
                <a href="{% url 'create_account'%}">New Account</a>
                <a href="{% url 'create_category'%}">Create Category</a>
                <a href="{% url 'create_receipt'%}">Create Receipt</a>
                <a href="{% url 'logout'%}">Log Out</a>
            </li>
        </nav>
        <main>
            <div>
                <h1>Create Category</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
