<!DOCTYPE html>
    <html>
        <head>
            <title>Test</title>
        </head>
        <body>
            <nav>
                <li>
                    <a href="{% url 'home'%}">Home</a>
                    <a href="{% url 'category_list'%}">Category List</a>
                    <a href="{% url 'account_list'%}">Account List</a>
                    <a href="{% url 'create_account'%}">New Account</a>
                    <a href="{% url 'create_category'%}">Create Category</a>
                    <a href="{% url 'create_receipt'%}">Create Receipt</a>
                    <a href="{% url 'logout'%}">Log Out</a>
                </li>
            </nav>
            <main>
                <h1>My Receipts</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Vendor</th>
                            <th>Total</th>
                            <th>Tax</th>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Account</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for rec in receipt_object %}
                        <tr>
                            <td>{{rec.vendor}}</td>
                            <td>{{rec.total}}</td>
                            <td>{{rec.tax}}</td>
                            <td>{{rec.date|date:"m/d/y"}}</td>
                            <td>{{rec.category.name}}</td>
                            <td>{{rec.account.name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>

        </body>
    </html>
